.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    border-radius: 3px;
    padding: 2px 10px;
    margin: 2px;
    text-align: center;
    text-transform: uppercase;
    outline: solid 1px #009cfd;
}

.navbar a:hover {
    outline: solid 2px #009cfd;
}

.active {
    background-color: lawngreen;
}

.nav {
    background-color: lightgreen;
}