.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    border: solid 1px #fd8b00;
    border-radius: 3px;
    padding: 2px 10px;
    margin: 2px;
    text-align: center;
    text-transform: uppercase;
}

.navbar a:hover {
    border: solid 1px darkslateblue;
}

.active {
    background-color: lawngreen;
}

.nav {
    background-color: lightgreen;
}