.app {
    position: absolute;
    min-height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas: "navbar content";
    grid-template-columns: 200px 1fr;
}

.app .wrapperContent {
    grid-area: content;
    background-color: lightyellow;
    padding: 10px;
}

.app .navbar {
    grid-area: navbar;
    background-color: orange;
    padding-top: 10px;
}